.people {
  display: grid;
  grid-template-columns: repeat(2, 220px);

  gap: 40px 30px;

  margin-top: 30px;
  
  justify-content: center;

  @media (min-width: 1000px) {
    & {
      grid-template-columns: repeat(4, 220px);
    }
  }
}

